body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  header h1 {
    text-align: center;
  }
  header h2 {
    text-align: center;
  }
  
  form {
    max-width: 600px;
    margin: auto;
  }
  
  .metadata, .question {
    margin-bottom: 20px;
  }
  